name: Latest blog post workflow
on:
  schedule: # Run workflow automatically
    - cron: '0 */6 * * *' # Run every 6 hours
  workflow_dispatch: # Run workflow manually

jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Pull in my medium posts
        uses: gautamkrishnar/blog-post-workflow@master
        with:
          # Wrap your URL with the rss2json API
          feed_list: "https://api.rss2json.com/v1/api.json?rss_url=https://dvirsegal.medium.com/feed"
