name: Latest blog post workflow
on:
  schedule: # Run workflow automatically
    - cron: '0 */6 * * *' # Run every 6 hours
  workflow_dispatch: # Run workflow manually

jobs:
  update-readme-with-blog:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      # Step 1: Fetch the feed using curl (which mimics a browser)
      - name: Fetch Medium Feed
        run: |
          curl -H "User-Agent: Mozilla/5.0" -L -o feed.xml "https://dvirsegal.medium.com/feed"

      # Step 2: Point the action to the local file
      - name: Pull in my medium posts
        uses: gautamkrishnar/blog-post-workflow@master
        with:
          feed_list: "./feed.xml"
