name: Latest blog post workflow
on:
  schedule: # Run workflow automatically
    - cron: '0 */6 * * *' # Run every 6 hours
  workflow_dispatch: # Run workflow manually

jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Pull in my medium posts
        uses: gautamkrishnar/blog-post-workflow@master
        with:
          feed_list: "https://dvirsegal.medium.com/feed"
          # This mimics a standard Chrome browser to bypass the 403 block
          user_agent: "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36"
